#search {
    color: #2ba6a7;
    border: 2px solid #2ba6a7;
    background-color: #f5f5f5;
    border-radius: 12px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    margin: 10px 10px 10px 10px;

}

#plussign {
    background-color: rgb(74, 215, 161);
    color: white;
    border-radius: 50%;
    border: 0px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 10px 10px 10px 10px;


}
#createaccount {
    color: white;
    background-color: rgb(0, 102, 255);
    border-color: black;
    border-style: solid;
    box-shadow: 5px 3px 3px black;
    width: 140px;
    height: 30px;
    margin: 10px 10px 10px 10px;
}